In [61]:
import numpy as np
import pandas as pd

In [78]:
df = pd.read_csv('big_five_description.tsv', sep='\t')
df.columns = ['word', 'A', 'E', 'C', 'N', 'O', 'nnon']
df.head()

          word      A      E      C      N      O  nnon
0        Naive  0.26*  -0.20  -0.21   0.12  -0.18   NaN
1   Altruistic  0.25*   0.00  -0.03  -0.06   0.22   NaN
2    Compliant  0.24*  -0.19  -0.02   0.01  -0.04   NaN
3      Natural  0.23*   0.09   0.03  -0.17   0.14   NaN
4  Suggestible  0.17*   0.00  -0.06   0.07  -0.16   NaN

In [79]:
import re
def numeric(input_):
    x = str(input_).replace(' ', '')
    if x.endswith('*'):
        x=x[:-1]
    if x.startswith('3'):
        x = "0."+x
    if x.startswith('2'):
        x = "0."+x
    elif x.startswith('-3'):
        x = "-0."+x[1:]
    elif x.startswith('03'):
        x = '0.3'+x[2:]
    elif x.startswith('-03'):
        x = '-0.3'+x[3:]
    try:
        x = eval(x)
    except:
        print(input_)
    return x

df['A'] = df['A'].apply(numeric)
df['C'] = df['C'].apply(numeric)
df['E'] = df['E'].apply(numeric)
df['O'] = df['O'].apply(numeric)
df['N'] = df['N'].apply(numeric)

df.to_csv('big_five_cleaned.tsv', sep='\t')

---

In [82]:
df[df['A'] < 0]

              word     A     E     C     N     O  nnon
6             Cold -0.50 -0.33  0.03 -0.02  0.10   NaN
7            Harsh -0.50  0.03  0.06  0.08 -0.05   NaN
8             Rude -0.50  0.08 -0.15  0.00  0.06   NaN
9    Unsympathetic -0.48 -0.14 -0.01 -0.16  0.01   NaN
10    Antagonistic -0.47 -0.09 -0.09  0.19 -0.02   NaN
..             ...   ...   ...   ...   ...   ...   ...
375    Patronizing -0.02  0.03  0.04  0.06 -0.27   NaN
378    Pretentious -0.15  0.14 -0.02  0.10 -0.25   NaN
379   Unscrupulous -0.06  0.08 -0.06 -0.05 -0.24   NaN
381  Condescending -0.11 -0.07  0.06  0.06 -0.15   NaN
382       Dogmatic -0.10 -0.04  0.06  0.01 -0.11   NaN

[204 rows x 7 columns]