In [51]:
import pandas as pd
import numpy as np

file_name = 'EAR Lensmodel Data.csv'

df_data = pd.read_csv(file_name)
df_data.head()

,subj,sex.s,age.s,ethn,wc,wps,qmarks,unique,dic,sixltr,...,ext.s,agr.s,con.s,ems.s,ope.s,zext.j,zagr.j,zcon.j,zems.j,zope.j
0,7,1,18,1,2950,9.70,17.76,22.54,82.58,9.29,...,3.625,3.666667,3.000000,4.125,3.6,1.366407,0.118205,1.066458,0.825028,1.929754
1,9,1,18,1,1941,6.76,13.59,26.53,80.83,8.24,...,3.875,3.333333,2.222222,2.625,4.2,0.947640,0.402792,-1.517806,1.392565,0.126995
2,10,1,20,5,2282,7.56,21.52,24.80,81.38,8.02,...,4.000,4.555556,2.333333,3.250,4.2,1.022972,0.808371,0.874459,1.545248,0.834478
3,11,1,20,1,1250,16.45,21.05,31.36,84.24,8.88,...,3.500,3.222222,2.111111,2.375,4.0,-0.452927,-1.059094,-1.460323,-0.144241,-0.700668
4,12,1,19,1,763,7.27,19.05,33.94,88.99,7.08,...,2.500,3.555556,3.222222,2.625,3.2,-1.022830,-1.918071,-2.365346,-0.184578,-2.319899

In [52]:
import re

test = 'sub85.xls'
test.split('.')[0].split('sub')[1]

'85'

In [53]:
#conding=utf8  
import os 
import re
import time
g = os.walk("original EAR transcripts")  



f_list = []
for path,dir_list,file_list in g:      
    for file_name in file_list:  
        print(os.path.join(path, file_name))
        f_list.append(os.path.join(path, file_name))
        test = pd.read_excel(os.path.join(path, file_name), header=1)
        
        print(test.head(1))
        for i in test['Transcript'].values:
            if type(i) == str:
                print(i, '\n')
                break

                
                
                
                
                
                
                
                
                
                
# df_script = pd.DataFrame(columns=['subj', 'script']) 

# subj_list = []
# script_list = []
# for file in f_list:
#     print(file)
#     subj_list.append(int(file.lower().split('.')[0].split('sub')[1]))
#     df = pd.read_excel(file, header=1)
#     tmp_list = []
#     for i in df['Transcript'].values:
#         if type(i) == str:
#             tmp_list.append(i)
#     script_list.append(tmp_list)
# df_script['subj'] = subj_list
# df_script['script'] = script_list

# df_script.head()

original EAR transcripts/sub85.xls
          File        Date      Time Transcript  Unnamed: 4  Unnamed: 5  \
0  01111469.MSV 2001-11-14  15:03:00        NaN         NaN         NaN

   w/others  talk   phone  Male/s  ...  Entert  Social  Sleep  laugh  sing  \
0       NaN    NaN    NaN     NaN  ...     NaN     NaN    NaN    NaN   NaN

   cry  mad  sigh  cough/ \nsneeze  Unnamed: 35
0  NaN  NaN   NaN              NaN          NaN

[1 rows x 36 columns]

KeyboardInterrupt:

In [39]:
df_test = pd.merge(df_data, df_script, on='subj')
df_test.to_csv('EAR_script_full.tsv', sep='\t')

In [40]:
df_test = df_test[['subj', 'script', "ext.s", "agr.s", "con.s", "ems.s", "ope.s", "zext.j", "zagr.j", "zcon.j", "zems.j", "zope.j"]]
df_test.to_csv('EAR_script.tsv', sep='\t')

In [50]:
total_len = 0
total_script_len = 0
for i in df_test['script']:
    total_len += len(i)
    for j in i:
        total_script_len += len(j.split(' '))
total_len /= float(len(df_test))
print(total_script_len)
print(total_script_len / float(len(df_test)))

105851
1102.6145833333333

In [70]:
df_test = pd.read_csv('EAR_script.tsv', sep='\t')


df_test['ext.s'] = df_test['ext.s'].apply(lambda x: x/5.0)
df_test['ems.s'] = df_test['ems.s'].apply(lambda x: x/5.0)
df_test['ope.s'] = df_test['ope.s'].apply(lambda x: x/5.0)
df_test['agr.s'] = df_test['agr.s'].apply(lambda x: x/5.0)
df_test['con.s'] = df_test['con.s'].apply(lambda x: x/5.0)


df_test['ext.cls'] = df_test['ext.s'].apply(lambda x: '1' if x > 0.737500 else '0')
df_test['ems.cls'] = df_test['ems.s'].apply(lambda x: '1' if x > 0.700000 else '0')
df_test['ope.cls'] = df_test['ope.s'].apply(lambda x: '1' if x > 0.780000 else '0')
df_test['agr.cls'] = df_test['agr.s'].apply(lambda x: '1' if x > 0.777778 else '0')
df_test['con.cls'] = df_test['con.s'].apply(lambda x: '1' if x > 0.688889 else '0')

df_test.head()

,Unnamed: 0,subj,script,ext.s,agr.s,con.s,ems.s,ope.s,zext.j,zagr.j,zcon.j,zems.j,zope.j,ext.cls,ems.cls,ope.cls,agr.cls,con.cls
0,0,7,"['really hot. Tomorrow is', ""I'll be back"", ""d...",0.725,0.733333,0.600000,0.825,0.72,1.366407,0.118205,1.066458,0.825028,1.929754,0,1,0,0,0
1,1,9,"[""somebody's xxx that we all know and love. H...",0.775,0.666667,0.444444,0.525,0.84,0.947640,0.402792,-1.517806,1.392565,0.126995,1,0,1,0,0
2,2,10,['yeah yeah. Too much coke is bad for your bod...,0.800,0.911111,0.466667,0.650,0.84,1.022972,0.808371,0.874459,1.545248,0.834478,1,0,1,1,0
3,3,11,['my bad. So that is what they are going to t...,0.700,0.644444,0.422222,0.475,0.80,-0.452927,-1.059094,-1.460323,-0.144241,-0.700668,0,0,1,0,0
4,4,12,"['What is up? What is up, man?', ""Hey, what ha...",0.500,0.711111,0.644444,0.525,0.64,-1.022830,-1.918071,-2.365346,-0.184578,-2.319899,0,0,0,0,0

In [71]:
df_test['ext.cls'].describe()

count     96
unique     2
top        1
freq      48
Name: ext.cls, dtype: object